# Data Science Lab-01

<b>Name: Gurvinder Kaur Matharu<br>
PRN: 20190802077

### AIM :
Write a python program to open Comma Separated Value (CSV) and perform given statistical operations.

### THEORY:
##### What is CSV?
A CSV (comma seperated values) is a plain text file that is used to store tabular data. Each line in the file is a data record and each record consists of one or more fields seperated by a comma.

##### What are categorical variables and types?
Categorical data takes only a fixed set of values. A variable that contains categorical data is called a categorical variable. In categorical variables, data can be grouped into different categories. <br>
Categorical variables can be further classified as follows:
1. Binary: Binanry data takes only one of the 2 values for example 1/0, True/False, Yes/No
2. Nominal: Nominal data has labels or names for identification, it names categories without implying order.
3. Ordinal: It tells us whether a particular observation has more characteristics than other observaltions. The rank or order here is meaningful.

##### What are numerical variables and types?
Numerical variables consists of values that descibe a measurable quantity such as weight, age, time duration, etc.<br>
Numerical variables can be classified as follows:
1. Discrete: Discrete data takes only some specific values like 1, 3, 2, 7, i.e integer values. It represents the count of an individual item. 
2. Continuous: Continuous data takes all values like 1.2, 2, 3.6. Continuous data can be measured for example speed or time duration.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data Set.csv')

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [5]:
df.shape

(150, 6)

In [6]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

<b> 1. Identification of Categorical and Numerical Variables.<br> Categorical Variables:

In [7]:
df.Species

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [8]:
df.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

<b>Numerical Variables:

In [9]:
df.loc[:,['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

<b> 2. Contingency table of at most 2 different categorical variables.</b> <br>
    Since there are not enough categorical variables, a contingency table cannot be created for this dataset.

<b> 3. Mean, Median, Mode, Variance, Standard Deviation, Quartile Range

In [10]:
x = df['PetalLengthCm']
n = len(x)

In [11]:
s = sum(x)
mean = s/n
print("Mean:",mean)

Mean: 3.7586666666666693

In [12]:
med=0
def median(x,n):
    x.sort_values()
    if n%2 == 0:
        m1 = n/2
        m2 = (n/2)+1
        med = (x[m1]+x[m2])/2
    elif n%2 != 0:
        pos = n+1/2
        med = x[pos]
    return med
    
m = median(x,n)
print("Median:", m)

Median: 4.6

In [13]:
from collections import Counter
count = Counter(x)
d = dict(count)
mode = [i for i, j in d.items() if j == max(list(count.values()))]
if len(mode)==n:
    print("Mode does not exist")
else:
    print("Mode:", ','.join(map(str,mode)))

Mode: 1.5

In [14]:
variance = sum((i-mean)**2 for i in x)/n
print('Variance:', variance)

Variance: 3.0924248888888854

In [15]:
std = variance**0.5
print('Standard Deviation:',std)

Standard Deviation: 1.7585291834055201

In [16]:
def percentile(x,p):
    x.sort_values()
    l= (p*len(x))/100
    l=int(l)
    return x[l]

In [17]:
Q2 = percentile(x,50)
Q1 = percentile(x,25)
Q3 = percentile(x,75)
iqr = Q3 - Q1
print('Interquartile range:',iqr)

Interquartile range: 4.0

<b>4. Show categorical variables:</b><br> 
    a. Show Binary data.<br>
    Binary data does not exist in the given(iris) dataset.

b. Show Nominal data.

In [18]:
df.Species

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

c. Show Ordinal data<br>
Ordinal data does not exist for given dataset.

### CONCLUSION:
A CSV file was accessed and opened using python. Categorical and numerical variables and their types were identified in this experiment. Contingency table for atmost 2 categorical variables was formed. Also, the various statistical measurements; mean, median, mode, variance, standard deviation and quartile range were calculated using python.